.videoSibar{
  position: absolute;
  top: 10%;
  right: 10px;
  color: #ffffff;
}

.videoSidebar-options{
  padding: 20px;
  text-align: center;
  transition: all 0.3s;
}

.videoSidebar-options:hover{
  transform: scale(1.4);
}


@media only screen and (max-width: 600px) {
  .videoSibar{
    top: 30%;
  }

}
