html{
  scroll-snap-type: y mandatory;
}

.App {
  background-color: #1f1c1c;
  height: 100vw;
  display: grid;
  place-items: center;
}

/* container */
.app-videos {
  height: 100vw;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  /* background-color: brown; */
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

/* esconde a scroll bar no chrome, safari e opera */

.app-videos::-webkit-scrollbar {
  display: none;
}

/* esconde a scroll bar no internet explorer e firefox */
.app-videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
